<h2>Get Recommendations</h2>
<form (ngSubmit)="onSubmit()">
  <label>Start Time:</label>
  <input type="datetime-local" [(ngModel)]="startTime" name="startTime" required>
  <label>End Time:</label>
  <input type="datetime-local" [(ngModel)]="endTime" name="endTime" required>
  <button type="submit">Get Recommendations</button>
</form>
<div *ngIf="recommendations.length > 0">
  <h3>Recommended Videos:</h3>
  <ul>
    <li *ngFor="let rec of recommendations">
      {{ rec.title }} ({{ rec.start_time }} - {{ rec.end_time }})
    </li>
  </ul>
</div>
