<h2>Did you reach your goal this week?</h2>

<circle-progress
  [percent]=progress
  [radius]="100"
  [outerStrokeWidth]="18"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#007bff'"
  [innerStrokeColor]="'#66b3ff'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2>What should i do better?</h2>
<div>You need to evalutate more calls to reach your goal.</div>
<div>In order to do that, click on <b>Time Slot Management</b> button,</div>
<div>And listen to more recommended calls.</div>