<img class="banner" src="/assets/banner.jpg">
<div class="container">
  <nav class="sidebar">
    <ul class="nav-list">
      <li><a routerLink="/recommend" routerLinkActive="active">Evaluation Goals</a></li>
      <li><a routerLink="/calls" routerLinkActive="active">EvaluFeed</a></li>
      <li><a routerLink="/timeslot" routerLinkActive="active">Time Slot Management</a></li>
    </ul>
  </nav>
  <div class="main-content">
    <div class="toolbar">

    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
