<div class="container">
  <nav class="sidebar">
    <div class="toolbar">Menu</div>
    <ul class="nav-list">
      <li><a routerLink="/calls" routerLinkActive="active">Time Slot Management</a></li>
      <li><a routerLink="/recommend" routerLinkActive="active">Gamification Elements</a></li>
    </ul>
  </nav>
  <div class="main-content">
    <div class="toolbar">
      <span>Call Evaluation App</span>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
